[Desktop Entry]
Type=Application
Version=1.0
Name=Batman
GenericName=Battery Management
Comment=A graphical user interface to tweak batman
Icon=/usr/share/icons/batman.png
Exec=batman-gui main
Terminal=false
Categories=System
Keywords=system;process;task;battery
