[Unit]
Description=battery management for Linux phones
Requires=upower.service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/batman

[Install]
WantedBy=graphical.target
