[Unit]
Description=battery management for Linux phones
Requires=upower.service
After=multi-user.target

[Service]
Type=simple
EnvironmentFile=-/etc/batman/config
EnvironmentFile=-/var/lib/batman/config
ExecStart=/usr/bin/batman

[Install]
WantedBy=graphical.target
