[Unit]
Description=Batman to power profiles daemon
Conflicts=power-profiles-daemon.service
After=batman.service

[Service]
Type=dbus
BusName=net.hadess.PowerProfiles
ExecStart=/usr/bin/batman2ppd
Restart=on-failure

[Install]
WantedBy=graphical.target
