Source: batman
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               gcc,
               make,
               pkg-config,
               libupower-glib-dev,
               libwayland-dev,
               libgbinder-dev,
               libnciplugin-dev,
               libnfcd-dev,
               libglib2.0-dev,
               libglibutil-dev,
               libnl-3-dev,
               libnl-genl-3-dev,
               libnl-route-3-dev,
               libpulse-dev,
               python3,
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/FakeShell/batman
Vcs-Git: https://github.com/FakeShell/batman.git

Package: batman
Architecture: any
Depends: ${misc:Depends},
Recommends: nfcd-batman-plugin (= ${binary:Version}),
            batman-system-monitor (= ${binary:Version}),
Replaces: power-profiles-daemon, batman2ppd,
Provides: power-profiles-daemon, batman2ppd,
Conflicts: power-profiles-daemon, batman2ppd,
Description: batman
 A battery management service for Linux phones

Package: batman-system-monitor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: batman-system-monitor
 A battery management service for Linux phones - system monitor tool

Package: nfcd-batman-plugin
Section: misc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: nfcd-batman-plugin
 state switching plugin for the NFC daemon

Package: batman-nicerdicer
Section: misc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: batman-nicerdicer
 A battery management service for Linux phones - nicerdicer service
 .
 this is a transitional package
