Source: batman
Maintainer: Bardia Moshiri
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10),
               gcc,
               make,
               libupower-glib-dev,
               pkg-config,
               libwayland-dev,
               libgtk-4-dev,
               libadwaita-1-dev,
               libgbinder-dev,
               libnciplugin-dev,
               libnfcd-dev,
               libglib2.0-dev,
               libglibutil-dev,
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/FakeShell/batman
Vcs-Git: https://github.com/FakeShell/batman.git

Package: batman
Architecture: any
Depends: ${misc:Depends},
         bash,
         batman-helper,
         batman-governor,
         libbatman-wrappers,
Description: batman
 A battery management service for Linux phones

Package: batman-gui
Architecture: any
Depends: ${misc:Depends},
         batman (= ${binary:Version}),
         libgtk-4-1,
Description: batman-gui
 A battery management service for Linux phones - GUI front-end

Package: batman-helper
Architecture: any
Depends: ${misc:Depends},
Description: batman-helper
 A battery management service for Linux phones - helper program

Package: batman-libpower
Architecture: any
Depends: ${misc:Depends},
         libgbinder,
Description: batman-helper
 A battery management service for Linux phones - libpower wrapper

Package: batman-governor
Architecture: any
Depends: ${misc:Depends},
Description: batman-governor
 A battery management service for Linux phones - governor info

Package: batman-dev
Architecture: any
Depends: ${misc:Depends},
         libbatman-wrappers,
         libwayland-dev,
         libupower-glib-dev,
Description: batman-dev
 A battery management service for Linux phones - development headers

Package: libbatman-wrappers
Architecture: any
Depends: ${misc:Depends},
Description: libbatman-wrappers
 A battery management service for Linux phones - wrapper shared object

Package: nfcd-batman-plugin
Section: misc
Architecture: any
Depends: ${misc:Depends}
         libncicore,
         libnciplugin,
Description: nfcd-batman-plugin
 state switching plugin for the NFC daemon
