#!/usr/bin/make -f

%:
	dh $@ --without=makefile

override_dh_auto_build:
	gcc -DWITH_UPOWER -DWITH_WLRDISPLAY -DWITH_GETINFO src/batman-helper.c src/batman-wrappers.c src/wlrdisplay.c src/getinfo.c -o batman-helper -lwayland-client `pkg-config --cflags --libs upower-glib`
	gcc -DWITH_UPOWER -DWITH_WLRDISPLAY -DWITH_GETINFO -fPIC -shared src/batman-wrappers.c src/wlrdisplay.c src/getinfo.c -o libbatman-wrappers.so -lwayland-client `pkg-config --cflags --libs upower-glib`
	gcc src/batman-gui.c src/configcontrol.c src/getinfo.c -o batman-gui `pkg-config --cflags --libs gtk4 libadwaita-1`
	gcc src/governor.c src/wlrdisplay.c -o governor -lwayland-client

	gcc src/batman-gbinder.c -fPIC -shared `pkg-config --libs --cflags libgbinder` -o libbatman-gbinder.so
	gcc src/batman-hybris.c src/batman-gbinder.c `pkg-config --libs --cflags libgbinder` -o batman-hybris

	gcc src/batman-wifi.c `pkg-config --cflags glib-2.0 libnl-3.0 libnl-genl-3.0 libnl-route-3.0` `pkg-config --libs glib-2.0 libnl-3.0 libnl-genl-3.0 libnl-route-3.0` -o batman-wifi

	gcc -c src/nfcd-batman-plugin.c -fPIC -DNFC_PLUGIN_EXTERNAL `pkg-config --cflags nfcd-plugin libglibutil gobject-2.0 glib-2.0` -O2 -o nfcd-batman-plugin.o
	gcc -c src/wlrdisplay.c -fPIC -DNFC_PLUGIN_EXTERNAL `pkg-config --cflags nfcd-plugin libglibutil gobject-2.0 glib-2.0` -O2 -o wlrdisplay.o
	gcc nfcd-batman-plugin.o wlrdisplay.o -fPIC -shared `pkg-config --libs libglibutil gobject-2.0 glib-2.0` -lwayland-client -o batman.so

override_dh_auto_install:
	install -D -m 0755 src/batman debian/tmp/usr/bin/batman
	install -D -m 0755 batman-helper debian/tmp/usr/bin/batman-helper
	install -D -m 0755 governor debian/tmp/usr/bin/governor
	install -D -m 0755 batman-gui debian/tmp/usr/bin/batman-gui

	install -D -m 0644 libbatman-gbinder.so debian/libbatman-gbinder/usr/lib/$(DEB_HOST_MULTIARCH)/libbatman-gbinder.so
	install -D -m 0755 batman-hybris debian/tmp/usr/bin/batman-hybris

	install -D -m 0755 batman-wifi debian/tmp/usr/bin/batman-wifi

	install -D -m 0755 batman.so debian/tmp/usr/lib/nfcd/plugins/batman.so

	install -D -m 0644 data/config debian/tmp/var/lib/batman/config
	install -D -m 0644 data/batman-gui.desktop debian/tmp/usr/share/applications/batman-gui.desktop
	install -D -m 0644 data/batman.png debian/tmp/usr/share/icons/batman.png

	install -D -m 0644 libbatman-wrappers.so debian/libbatman-wrappers/usr/lib/$(DEB_HOST_MULTIARCH)/libbatman-wrappers.so

	install -D -m 0644 src/batman-wrappers.h debian/tmp/usr/include/batman/batman-wrappers.h
	install -D -m 0644 src/getinfo.h debian/tmp/usr/include/batman/getinfo.h
	install -D -m 0644 src/wlrdisplay.h debian/tmp/usr/include/batman/wlrdisplay.h
	install -D -m 0644 src/batman-gbinder.h debian/tmp/usr/include/batman/batman-gbinder.h

	install -D -m 0755 src/batman2ppd.py debian/tmp/usr/bin/batman2ppd
	install -D -m 0755 src/powerprofilesctl.py debian/tmp/usr/bin/powerprofilesctl

override_dh_installsystemd:
	dh_installsystemd -pbatman --name=batman batman.service
	dh_installsystemd -pbatman2ppd --name=batman2ppd batman2ppd.service

override_dh_dwz:
override_dh_strip:
override_dh_shlibdeps:
override_dh_makeshlibs:
