[Unit]
Description=Battery manager for Linux phones
Requires=upower.service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/batman
Restart=on-failure
RestartSec=2s
StartLimitIntervalSec=30
StartLimitBurst=5

[Install]
WantedBy=graphical.target
