[Unit]
Description=Manage process priority based on process name
Requires=batman.service

[Service]
Type=dbus
BusName=io.FuriOS.NicerDicer
ExecStart=/usr/sbin/batman-nicerdicer

[Install]
WantedBy=graphical.target
